legend {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font: 1.5rem 'Fira Sans', sans-serif;

}

/* input {
    margin: .4rem;
} */

#bootcampForm {
    border-top: 1px solid;

}
h1{
    text-align: center;
}
.container{
    border: 1px solid;
    text-align: center;
    margin-left:  35%;
    margin-right: 35%;
}

.question {
    /* background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); */
    /* border: .5px dashed; */
    font: 1.5rem 'Fira Sans', sans-serif;
}
body {
    background-image: linear-gradient(to right,rgb(148, 159, 204), rgb(179, 162, 108));
}
.answer {
    font: 1.3rem 'Fira Sans', sans-serif;
}

/* #submitBtn{
    text-align: center;
    margin-left:  48.5%;
} */